<%- include("partials/newheader"); -%>
<!-- <header class="header d-flex justify-content-center"></header> -->
<div class="backgroundclr">

<h1 >How to Book the Hostel</h1>
<br>
<h2>For availing accommodation facilities for a family the following procedure should be followed:</h2>

<span class="type" style="--n:10000">
   
       1. A mail should be sent to Hall office on hostel@iiti.ac.in a minimum of 5 days prior to the desired accommodation. A Cc should be marked to Chief warden and concern Hall warden ( which is already been shared with you).
    
</br>
<br>
    
       2. Mail should clearly specify the purpose of visit, arrival and departure date of guest with his/her name.
<br></br>
       3. On getting the confirmation, prior payment should be done by clicking on the link shared by Hall Office in confirmation mail (payment on arrival or post-payment will not be entertained).
  <br><br>  
       4. Once the payment is done, the student is required to visit the Accounts & finance department for getting the payment receipt seal and signed.
  <br><br>  
       5. Report Hall office on the arrival of a guest with the receipt.
   
</span>
</div>

<%- include("partials/mainfooter"); -%>