<%- include("partials/newheader"); -%>
<div class="backgroundclr" style="text-align: center;">

<h1 style="font-family:'Times New Roman', Times, serif;text-align:center">Contact Us</h1>
Contact: 0731-6603468, Ext. 3468
<br>
E-mail: hostel@iiti.ac.in
<br>
<br>
<i style="color:red">Emergency Contact</i> 
<br>
Security Supervisor: +91-6265224771
<br>
Ambulance : 7509062832
<br>
Medical : 0731-660 3571 Ext. No. 3571 / 3187 / 3433



</div>

</body>
</html>