<!-- <h1>How to Book the Hostel</h1>
<h2>For availing accommodation facilities for a family the following procedure should be followed:</h2>
<ol>
    <li><span class="type" style="--n:10000">
        A mail should be sent to Hall office on hostel@iiti.ac.in a minimum of 5 days prior to the desired accommodation. A Cc should be marked to Chief warden and concern Hall warden ( which is already been shared with you).
    
    </span></li>
    <li><span class="type" style="--n:10000">
        Mail should clearly specify the purpose of visit, arrival and departure date of guest with his/her name.
    </span></li>
    <li><span class="type" style="--n:10000">
        On getting the confirmation, prior payment should be done by clicking on the link shared by Hall Office in confirmation mail (payment on arrival or post-payment will not be entertained).
    </span></li>
    <li><span class="type" style="--n:10000">
        Once the payment is done, the student is required to visit the Accounts & finance department for getting the payment receipt seal and signed.
    </span></li>
    <li><span class="type" style="--n:10000">
        Report Hall office on the arrival of a guest with the receipt.
    </span></li>
</ol> -->